
body {
    background-color: white;
    font-family: sans-serif;
    padding-left: 50px;
}

h1 {

}

.main-title {
   
    
}
section {

}


figure img {
    
    width: 130px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

header {

}
#mainpainel {
    
    width: 80%;
}

header figure {
    width: 60px;
    margin-top: 20px;
    
    display: inline;
    
}

.panel-default {
    
}


article {

}

footer {

}

footer   {

}





